.pizzaheader {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(153, 27, 27);
  font-size: 800%;
  text-shadow: #dba24a;
}

.banner {
  background-image: url("https://media1.thehungryjpeg.com/thumbs2/800_61630_7b1bf64b3d84aa10f56d290c4efac2f5d821c311_vector-pizza-and-ingredients.jpg");
  height: 200px;
  background-size: 100%;
}

.nav {
  background-color: #fffa8a;
  justify-content: center;
  display: flex;
  white-space: nowrap;
}

.nav-link {
  padding: 5px;
  margin: 0 6px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  color: rgb(153, 27, 27);
  justify-content: center;
  display: flex;
}


.search {
  background-color: #fffa8a;
  align-items: center;
  height: 50px;
  justify-content: center;
  display: flex;
}


.searchTerm {
  height: 30px;
  width: 500px;
  align-items: center;
  justify-content: center;
}


.searchIcon {
  height: 30px;
  width: 40px;
}


body {
  margin: 0;
  font: helvetica;
  background-color: #fffa8a;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: Arial, Helvetica, sans-serif
}

img {
  height: auto;
  max-width: 75%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* list-style: none; */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.card {
  background-color: rgb(153, 27, 27);
  border: solid;
  border-color: black;
  border-width: 2px;
}


.cards__item {
  display: flex;
  padding: 1rem;
  width: 18%;
}

.pizzaname {
  color: #f0b37c;
  font-size: 200%;
}


.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-top-left-radius: 0.25rem; */
  /* border-top-right-radius: 0.25rem; */
  filter: contrast(70%);
  height: 250px;
  width: 300px;
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.ingredientsname {
  color: white;
  font-size: 150%;
}

.ingredientslist {
  font-size: 120%;
  list-style: none;
  text-align: left;
}

.formname {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:rgb(153, 27, 27);
  font-size: 200;
}

.pizzaform {
  background-color: #fffa8a;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: flex;
  /* height: 100px; */
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.pizzaform input {
  margin-right: 2rem;
  flex: 1;
}

.pizzaform button {
    width: 150px;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
}


.backtohome {
  justify-content: center;
  background-color: #fffa8a;
  display: flex;
  padding: 2%;
}

#delete\ button {
  background-color: white;
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}
#delete\ button:hover{
  background-color: red;
  color: white;
}
#like\ button{
  background-color: white;
  border: none;
  color: rgb(0, 255, 21);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}


#like\ button:hover{
  background-color: rgb(0, 255, 4);
  color: white;
}



